html,
body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

button {
  width: 180px;
  height: 60px;
  border-radius: 30px;
  font-size: 14pt;
}

.centered-div {
  margin: 10px 0; /* Add space between the links */
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #333; /* Customize link color */
}

a:hover {
  color: #007bff; /* Customize hover effect */
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

body {
  font-family: monospace;
}
