/* html,
body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

button {
  width: 180px;
  height: 60px;
  border-radius: 30px;
  font-size: 14pt;
}

.centered-div {
  margin: 10px 0;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #333;
}

a:hover {
  color: #007bff; 
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

body {
  font-family: monospace;
} */

/* html {
  font-size: 62.5%;
}
*/
body {
  font-family: monospace;
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 2%;
}

/* header h1 {
  font-size: 20pt;
  text-align: center;
}

header h2 {
  text-align: center;
  font-size: 14pt;
} */
.title{
  font-weight: bold;
  font-size: 20pt;
  text-align: center;
}

.name{
  font-size: 16pt;
  text-align: center;
  margin-bottom: 5%;
}

label{
  font-weight: bold;
  font-size: 14pt;
}

.container{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  column-gap: 50px;
  row-gap: 50px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.content{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 13pt;
  row-gap: 15px;
}

.button {
  width: 150px;
  height: 45px;
  border-radius: 30px;
  font-size: 12pt;
} 