.container {
  display: flex;
}

button {
  height:30px;
  width:150px;
  text-align: center;
  border-radious
}

html {
  font-size: 62.5%;
}

body {
  font-family: monospace;
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 8rem;
  gap: 2rem;
}

header h1 {
  font-size: 4.8rem;
}

header h2 {
  font-size: 2.4rem;
}

header h3 {
  font-size: 2rem;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  gap: 2rem;
}

article label {
  margin: 1.6rem 0;
}

article input {
  font-size: 2.4rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 1rem;
}

.error {
  background-color: #bb1212;
  color: #fff;
}

.green-bg {
  background-color: #00bb00;
  color: #fff;
}

section#rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

ul#list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rule {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
