html {
  font-family: monospace;
}
body {
  display: flex;
  flex-direction: column;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 30px;
  font-size: 14pt;
}
div {
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
